* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #111;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.container {
	display: flex;
	justify-content: center;
	align-content: center;
	max-width: 400px;
	flex-wrap: wrap;
}

.square {
	width: 14px;
	height: 14px;
	margin: 1px;
	background: #1d1d1d;
	box-shadow: 0 0 2px #000;
	transition: 2s ease;
}

.square:hover {
	transition-duration: 0s;
}
